@model BDS_ASP.Models.property

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.property_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.property_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceToSell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceToSell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rentCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subCategory.subCategory_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subCategory.subCategory_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.property_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
